# Virtual environment
venv/
__pycache__/
*.pyc

# Database
urls.db

# Static files that will be created by users
static/images/*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE files
.vscode/
.idea/
