./database/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Uploaded files
static/images/*
!static/images/.gitkeep
